<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon-cloud"></span>
                Weather App
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Helsinki Weather</a></li>
            <li><a href="/users">London Weather</a></li>
        </ul>
      
    </div>
</nav>
